python-dotenv
fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
streamlit
openai
google-cloud-texttospeech
requests
numpy
scipy
librosa
soundfile
pystoi
pesq
speechrecognition
openai-whisper
jiwer
matplotlib
pydub
